/* 
   
   Description : Ce fichier CSS définit les styles pour les parties globales du site.
*/
/* EN-TÊTE - PIED DE PAGE - MODALES - FORMULAIRE DE CONTACT 7 */
/* Styles | Global */
body {
    margin-top: 60px;
    background-color: #FFFFFF;
}

/* Styles | En-Tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 14px 10px #00000008;
    z-index: 1000;
}

/* Styles | Logo de l'En-Tête */
.header-logo img {
    max-width: 300px;
}

/* Styles | Conteneur de Logo */
.Nathalie_section-logo

 img {
    padding-left: 21px;
    padding-top: 35px;
    width: 212px;
}

/* Styles | Menu de l'En-Tête */
.Nathalie_main-navigation {
    display: flex;
    align-items: center;
    padding: 0;
}

/* Styles | Liens du Menu de l'En-Tête et du Pied de Page */
.Nathalie_main-navigation li a,
.footer-menu li a,
#bouton-ouvrir-modal,
.close {
    text-decoration: none;
    color: #000;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.7px;
    letter-spacing: 0.1em;
    text-align: left;
}

/* Styles | Listes du Menu de l'En-Tête et du Pied de Page */
.Nathalie_main-navigation ul,
.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Styles | Éléments de Liste du Menu de l'En-Tête et du Pied de Page */

.Nathalie_main-navigation li,
.footer-menu li {
    margin-right: 20px;
}

/* Styles | Styles de Boutons de l'En-Tête et du Pied de Page */
#bouton-ouvrir-modal,
#open-modal-button-footer {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Styles | Styles de Survole pour Boutons et Liens */
#bouton-ouvrir-modal:hover,
.Nathalie_main-navigation li a:hover,
.footer-menu a:hover {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
}

/* Styles | Styles de Survole pour Boutons de Fermeture */
.close:hover,
.close-button:hover {
    text-decoration: underline;
}

/* Styles | PIED DE PAGE */
.footer-menu {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    padding-top: 10px;
}

/* Styles | Éléments de Liste du Menu du Pied de Page */
.footer-menu li {
    margin: 0 15px;
    display: inline;
}

/* Styles | Liens du Menu du Pied de Page */
.footer-menu a {
    text-decoration: none;
    padding-top: 5px;
}

/* Styles | MOBILE - PIED DE PAGE */
@media screen and (max-width: 767px) {
    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 10px;
        flex-flow: column;
    }

    .footer-menu ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-menu li {
        margin: 10px 0;
        text-align: center;
    }
}



/* Styles | Animation de Modale */
@-webkit-keyframes animatetop {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

/* Styles | MODALE */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    overflow: auto;
}

/* Styles | CONTENU DE LA MODALE */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

/* Styles | Image dans la Modale - Bannière */
.modal-content img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles | Styles de Boutons de Fermeture */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles | MOBILE - MODALE */
@media (max-width: 768px) {
    .modal-content {
        max-width: 95%;
        overflow-y: auto; /* Vertical scrolling */
        max-height: 67vh; /* Contenu visible */
    }
}


/* Styles | Contact Form 7 */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Styles | Styles des Entrées du Contact Form 7 */
input[type=email],
input[type=text],
select,
textarea {
    border: none;
    border-radius: 7px;
}

/* Styles | Styles du Bouton Soumettre du Contact Form 7 */
input[type=submit] {
    display: block;
    width: 263px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px;
    margin: 0 auto;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    background-color: #D8D8D8;
    color: #000000;
}

/* Styles | Styles de Survole du Bouton Soumettre du Contact Form 7 */
input[type=submit]:hover {
    background-color: #cccaca;
}

/* Styles | Messages d'Erreur du Contact Form 7 */
.wpcf7-not-valid-tip {
    color: #B8BBC2;
}

/* Styles | Styles de Sortie de Réponse du Contact Form 7 */
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output,
.wpcf7 form .wpcf7-response-output {
    color: #65676d;
    font-family: Poppins;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

/* Styles | Étiquettes pour le Contact Form 7 */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 5px 10px;
}

/* Styles | Styles d'Étiquettes pour le Contact Form 7 */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7 label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

/* Styles | Style d'Étiquette de Message pour le Contact Form 7 */
.wpcf7 textarea[name="your-message"] {
    height: 190px;
}

/* Styles | MOBILE - BOUTON BURGER */
.mobile-menu-button {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    display: block;
    width: 27.42px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
    transition: 0.4s;
}

/* Styles | MOBILE - MENU */
@media (max-width: 768px) {
    .mobile-menu-button {
        display: block;
    }

    .Nathalie_main-navigation {
        display: none;
    }

    .mobile-menu-opened .Nathalie_main-navigation {
        display: flex;
        flex-direction: column; 
        align-items: center;
        background-color: #fff;
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        box-shadow: 0px 4px 14px 10px #00000008;
        z-index: 1000;
        overflow-y: auto;
    }

    .close-button {
        position: absolute;
        font-family: "Space Mono", monospace;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #000;
    }

    .btn-fermeture {
        width: 100%;
        height: 86px;
        background: white;
        position: absolute;
        top: 0;
    }
    
    .Nathalie_main-navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        flex-flow: column;
    }

     
    .mobile-menu-opened .Nathalie_main-navigation {
        background: #E00000;
        height: 110vh;
        left: 0;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
    }
    .Nathalie_main-navigation li a,
    #bouton-ouvrir-modal {
        font-family: 'Space Mono';
        font-weight: 400;
        font-size: 44px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        transition: font-weight 0.3s ease;
    }

    .Nathalie_main-navigation li {
    margin-right: -3px;
    }

    .Nathalie_main-navigation li a:hover,
    #bouton-ouvrir-modal:hover {
        font-size: 44px;
        font-weight: 600;
    }

    .close-button {
        color: #000000;
        font-size: 23px;
        position: absolute;
        top: 22px;
        right: 30px;
    }

    body.mobile-menu-opened {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .Nathalie_main-navigation li {
        margin-bottom: 20px;
    }

    .Nathalie_section-logo

 {
        display: block;
    }

    .close-button {
        display: block;
    }
}
i.fas.fa-expand-arrows-alt.fullscreen-icon {
    z-index: 1;
}
.custom-post-thumbnails {
    max-width: 1126px;  /* Largeur maximale de la section */
    margin: 0 auto;  /* Centre contenu horizontalement */
    text-align: center; 
    /*padding: 20px;*/
}

/* Styles | Container CPT Thumbnails */
.thumbnail-container-accueil {
    display: flex;  /* Flexbox pour les éléments enfants */
    flex-wrap: wrap;  /* Passer à la ligne lorsque l'espace est insuffisant */
    justify-content: space-between;  /* Espace entre les éléments de manière égale */
    margin-top: 20px;  
}

/* Styles | Individual CPT Thumbnail */
.custom-post-thumbnail {
    flex-basis: calc(50% - 10px); /* Deux colonnes - Espace de 10px */  
    margin-bottom: 20px; 
}

/* Styles | Thumbnail Image Wrapper */
.thumbnail-wrapper {
    position: relative;  /* Établit un contexte de positionnement pour les éléments enfants */
    overflow: hidden;  /* Cache le contenu débordant de la zone définie */
    padding-bottom: 100%; 
}

/* Styles | Thumbnail Image */
.thumbnail-wrapper img {
    position: absolute; 
    top: 0;  /* Aligne l'image en haut */
    left: 0;  /* Aligne l'image à gauche */
    width: 100%; 
    height: 100%;  
    object-fit: cover;  /* Couvrir tout l'espace sans déformation */
}

/* Styles | Overlay and Icons */
.thumbnail-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    opacity: 0;  
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    transition: opacity 0.3s;  /* Transition d'opacité avec une durée */
}

.thumbnail-wrapper:hover .thumbnail-overlay {
    opacity: 1;  /* Survolé, l'overlay devient opaque */
}

.thumbnail-overlay img {
    width: 46px; 
    height: 32px;  
    position: absolute;  
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);  /* Centre l'image */
}

.fullscreen-icon {
    color: white;  
    position: absolute;  
    top: 10px;  
    right: 10px;
}
.photo-info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.photo-info-left,
.photo-info-right {
    width: 60%;
}
@media (min-width: 768px) {
    .Nathalie_section-logo

 {
        display: none;
    }

    .close-button {
        display: none;
    }
}


/* MODÈLE - ARTICLE */

#main-nathalie {
    padding: 20px;
    font-family: 'Space Mono';
}

.nathalie-contenu-principal {
    margin: 0 auto;
    max-width: 800px;
}
/* 
/* IMAGE hero_nathalie- ACCUEIL */
/* Style | Conteneur hero_nathalieImage */
.hero_nathalie {
    position: relative;
    height: 782px;
}

/* Style | hero_nathalieImage */
.hero_nathalie-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    background-image: url('/assets/images/fallback-Hero_Nathalie.png'); /* Image de secours */
}

/* Style | Titre de l'Image */
.hero_nathalie-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

/* Styles | Mobile - hero_nathalieImage */
@media screen and (max-width: 768px) {
    .hero_nathalie {
        height: 400px; /* Hauteur - Mobiles */
    }
}

